/* form-box */
.form-box {
    width: 25rem;
    margin: 0 auto;
    background-image: linear-gradient(#b9efb9,#6a68de);
    border: #003300;
    padding: 1rem;
}

.form-box .header {
    border: 1px solid var(--border-color);
    color: darkblue;
    background: azure;
    font-weight: bold;
    text-align: center;
    padding: 0.2rem;
    font-family: "Gill Sans MT Condensed", sans-serif;
    font-size: xx-large;
}
.form-box .message {
    margin: 1rem;
}


.calculator table input[type="button"] {
    background-color: green;
    color: lightgreen;
    border: solid black 2px;
    width: 6rem;
    height: 2rem;
}

.calculator table input[type="submit"] {
    background-color: limegreen;
    color: darkslategrey;
    border: solid black 2px;
    width: 100%;
    height: 2rem;

}

.calculator table input[type="text"] {
    background-color: #d7fbf1;
    height: 2rem;
    padding-left: 0.2rem;
    width: 98%;
    margin-bottom: 1rem;
}

.calculator table {
    margin: 1rem auto;
    border: none;
    /*width: 32rem;*/
}

.calculator button {
    background-color: green;
    color: lightgreen;
    border: solid black 2px;
    width: 6rem;
    height: 2rem;
}

.calculator button:hover {
    background-color: #003300;
    color: white;
}

.calculator button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}